{
  "openapi": "3.1.0",
  "info": {
    "title": "Data Export API",
    "description": "This is the official API documentation for the endpoints available through the Data Export API. The easiest way to get started is by using the Postman collection provided (see instructions below).\n## Getting Started with Postman\n1. Download the spec by clicking the button above\n2. In Postman, navigate to Collections on the left and click Import at the top\n3. Drag and drop the downloaded openapi.json file into the import prompt\n4. After importing, you should see the Data Export API collection on the left. You will first want to update the `{{baseUrl}}` variable:\n   - Current value: `https://school.service.campusgroups.com/data/v1`\n   - Replace \"school\" with your school code\n5. You should now be ready to use the API endpoints. \n   - First, make a `POST` request to submit a new data request, \n   - then make a `GET` request to the same endpoint to see the status of the request, or get the paginated results.\n   - Make sure to include your school code and your API Secret key in the headers of all requests.\n## Date Ranges and Pagination\nAll endpoints require date range parameters to filter the result set based on the `updatedOn` field:\n- `updatedStart`: The start date/time that records were last updated\n- `updatedEnd`: The end date/time that records were last updated\n\nFor pagination:\n1. When making a `GET` request the response will include a `nextToken` in the body if there are more results. By default the page size is `999`, which is the maximum, but a `size` parameter is supported if you want less.\n2. To get the next page of results, include a `token` parameter set to the value of the `nextToken` from the previous response\n3. Repeat until you receive a response with no `nextToken`, indicating you've reached the end of the results\n",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://school.service.campusgroups.com/data/v1"
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Endpoint to retrieve events based on the specified start and end dates, it returns a query id that can be used to retrieve the results of the query. Use [Request Events](#tag/Events/operation/requestEvents) to request the data results of the query and upon success of the query use [Retrieve Events](#tag/Events/operation/retrieveEvents)"
    },
    {
      "name": "RSVP",
      "description": "Endpoint to retrieve rsvp, it returns a query id that can be used to retrieve the results of the query. Use [Request RSVP](#tag/RSVP/operation/requestRSVP) to request the data results of the query and upon success of the query use [Retrieve RSVP](#tag/RSVP/operation/retrieveRSVP)"
    },
    {
      "name": "Event Registration Options",
      "description": "Endpoint to retrieve event_registration_options, it returns a query id that can be used to retrieve the results of the query. Use [Request Event Registration Options](#tag/Event-Registration-Options/operation/requestEventRegistrationOptions) to request the data results of the query and upon success of the query use [Retrieve Event Registration Options](#tag/Event-Registration-Options/operation/retrieveEventRegistrationOptions)"
    },
    {
      "name": "Payments",
      "description": "Endpoint to retrieve payments, it returns a query id that can be used to retrieve the results of the query. Use [Request Payments](#tag/Payments/operation/requestPayments) to request the data results of the query and upon success of the query use [Retrieve Payments](#tag/Payments/operation/retrievePayments)"
    },
    {
      "name": "Checkins",
      "description": "Endpoint to retrieve checkin, it returns a query id that can be used to retrieve the results of the query. Use [Request Checkins](#tag/Checkin/operation/requestCheckin) to request the data results of the query and upon success of the query use [Retrieve Checkin](#tag/Checkin/operation/retrieveCheckin)"
    },
    {
      "name": "Users",
      "description": "Endpoint to retrieve users, it returns a query id that can be used to retrieve the results of the query. Use [Request Users](#tag/Users/operation/requestUsers) to request the data results of the query and upon success of the query use [Retrieve Users](#tag/Users/operation/retrieveUsers)"
    },
    {
      "name": "Academic Experiences",
      "description": "Endpoint to retrieve academic_experiences, it returns a query id that can be used to retrieve the results of the query. Use [Request Academic Experiences](#tag/Academic-Experiences/operation/requestAcademicExperiences) to request the data results of the query and upon success of the query use [Retrieve Academic Experiences](#tag/Academic-Experiences/operation/retrieveAcademicExperiences)"
    },
    {
      "name": "Work Experiences",
      "description": "Endpoint to retrieve work_experiences, it returns a query id that can be used to retrieve the results of the query. Use [Request Work Experiences](#tag/Work-Experiences/operation/requestWorkExperiences) to request the data results of the query and upon success of the query use [Retrieve Work Experiences](#tag/Work-Experiences/operation/retrieveWorkExperiences)"
    },
    {
      "name": "Groups",
      "description": "Endpoint to retrieve groups, it returns a query id that can be used to retrieve the results of the query. Use [Request Groups](#tag/Groups/operation/requestGroups) to request the data results of the query and upon success of the query use [Retrieve Groups](#tag/Groups/operation/retrieveGroups)"
    },
    {
      "name": "Members",
      "description": "Endpoint to retrieve members, it returns a query id that can be used to retrieve the results of the query. Use [Request Members](#tag/Members/operation/requestMembers) to request the data results of the query and upon success of the query use [Retrieve Members](#tag/Members/operation/retrieveMembers)"
    },
    {
      "name": "Tags",
      "description": "Endpoint to retrieve tags, it returns a query id that can be used to retrieve the results of the query. Use [Request Tags](#tag/Work-Experiences/operation/requestTags) to request the data results of the query and upon success of the query use [Retrieve Tags](#tag/Work-Experiences/operation/retrieveTags)"
    },
    {
      "name": "Budgets",
      "description": "Endpoint to retrieve budgets, it returns a query id that can be used to retrieve the results of the query. Use [Request Budgets](#tag/Budgets/operation/requestBudgets) to request the data results of the query and upon success of the query use [Retrieve Budgets](#tag/Budgets/operation/retrieveBudgets)"
    },
    {
      "name": "Budget Transactions",
      "description": "Endpoint to retrieve budget_transactions, it returns a query id that can be used to retrieve the results of the query. Use [Request Budget Transactions](#tag/Budget-Transactions/operation/requestBudgetTransactions) to request the data results of the query and upon success of the query use [Retrieve Budget Transactions](#tag/Budget-Transactions/operation/retrieveBudgetTransactions)"
    },
    {
      "name": "Surveys",
      "description": "Endpoint to retrieve surveys, it returns a query id that can be used to retrieve the results of the query. Use [Request Surveys](#tag/Surveys/operation/requestSurveys) to request the data results of the query and upon success of the query use [Retrieve Surveys](#tag/Surveys/operation/retrieveSurveys)"
    },
    {
      "name": "Survey Submissions",
      "description": "Endpoint to retrieve survey submissions, it returns a query id that can be used to retrieve the results of the query. Use [Request Survey Submissions](#tag/Survey-Submissions/operation/requestSurveySubmissions) to request the data results of the query and upon success of the query use [Retrieve Survey Submissions](#tag/Survey-Submissions/operation/retrieveSurveySubmissions)"
    },
    {
      "name": "Rooms",
      "description": "Endpoint to retrieve rooms, it returns a query id that can be used to retrieve the results of the query. Use [Request Rooms](#tag/Rooms/operation/requestRooms) to request the data results of the query and upon success of the query use [Retrieve Rooms](#tag/Rooms/operation/retrieveRooms)"
    },
    {
      "name": "Room Reservations",
      "description": "Endpoint to retrieve room reservations, it returns a query id that can be used to retrieve the results of the query. Use [Request Room Reservations](#tag/Room-Reservations/operation/requestRoomReservations) to request the data results of the query and upon success of the query use [Retrieve Room Reservations](#tag/Room-Reservations/operation/retrieveRoomReservations)"
    },
    {
      "name": "Badges",
      "description": "Endpoint to retrieve badges, it returns a query id that can be used to retrieve the results of the query. Use [Request Badges](#tag/Badges/operation/requestBadges) to request the data results of the query and upon success of the query use [Retrieve Badges](#tag/Badges/operation/retrieveBadges)"
    },
    {
      "name": "Badge Completions",
      "description": "Endpoint to retrieve badge completions, it returns a query id that can be used to retrieve the results of the query. Use [Request Badge Completions](#tag/Badge-Completions/operation/requestBadgeCompletions) to request the data results of the query and upon success of the query use [Retrieve Badge Completions](#tag/Badge-Completions/operation/retrieveBadgeCompletions)"
    },
    {
      "name": "Feed Posts",
      "description": "Endpoint to retrieve feed posts, it returns a query id that can be used to retrieve the results of the query. Use [Request Feed Posts](#tag/Feed-Posts/operation/requestFeedPosts) to request the data results of the query and upon success of the query use [Retrieve Feed Posts](#tag/Feed-Posts/operation/retrieveFeedPosts)"
    },
    {
      "name": "Tracks",
      "description": "Endpoint to retrieve tracks, it returns a query id that can be used to retrieve the results of the query. Use [Request Tracks](#tag/Tracks/operation/requestTracks) to request the data results of the query and upon success of the query use [Retrieve Tracks](#tag/Tracks/operation/retrieveTracks)"
    },
    {
      "name": "Checklists",
      "description": "Endpoint to retrieve checklists, it returns a query id that can be used to retrieve the results of the query. Use [Request Checklists](#tag/Checklists/operation/requestChecklists) to request the data results of the query and upon success of the query use [Retrieve Checklists](#tag/Checklists/operation/retrieveChecklists)"
    },
    {
      "name": "Checklist Items",
      "description": "Endpoint to retrieve checklist items, it returns a query id that can be used to retrieve the results of the query. Use [Request Checklist Items](#tag/Checklist-Items/operation/requestChecklistItems) to request the data results of the query and upon success of the query use [Retrieve Checklist Items](#tag/Checklist-Items/operation/retrieveChecklistItems)"
    },
    {
      "name": "Stores",
      "description": "Endpoint to retrieve stores, it returns a query id that can be used to retrieve the results of the query. Use [Request Stores](#tag/Stores/operation/requestStores) to request the data results of the query and upon success of the query use [Retrieve Stores](#tag/Stores/operation/retrieveStores)"
    },
    {
      "name": "Store Products",
      "description": "Endpoint to retrieve store products, it returns a query id that can be used to retrieve the results of the query. Use [Request Store Products](#tag/Store-Products/operation/requestStoreProducts) to request the data results of the query and upon success of the query use [Retrieve Store Products](#tag/Store-Products/operation/retrieveStoreProducts)"
    },
    {
      "name": "Announcements",
      "description": "Endpoint to retrieve announcements, it returns a query id that can be used to retrieve the results of the query. Use [Request Announcements](#tag/Announcements/operation/requestAnnouncements) to request the data results of the query and upon success of the query use [Retrieve Announcements](#tag/Announcements/operation/retrieveAnnouncements)"
    },
    {
      "name": "Announcement Recipients",
      "description": "Endpoint to retrieve announcement recipients, it returns a query id that can be used to retrieve the results of the query. Use [Request Announcement Recipients](#tag/Announcement-Recipients/operation/requestAnnouncementRecipients) to request the data results of the query and upon success of the query use [Retrieve Announcement Recipients](#tag/Announcement-Recipients/operation/retrieveAnnouncementRecipients)"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "Retrieve events",
        "operationId": "retrieveEvents",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEventSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request events",
        "operationId": "requestEvents",
        "description": "Request events that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Events](#tag/Events/operation/retrieveEvents) to retrieve the results of the query and upon success",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/rsvp": {
      "get": {
        "summary": "Retrieve RSVP",
        "operationId": "retrieveRSVP",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "RSVP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRSVPSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request RSVP",
        "operationId": "requestRSVP",
        "description": "Request RSVP that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve RSVP](#tag/RSVP/operation/retrieveRSVP) to retrieve the results of the query and upon success",
        "tags": [
          "RSVP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/checkins": {
      "get": {
        "summary": "Retrieve Checkins",
        "operationId": "retrieveCheckins",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Checkins"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCheckinsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Checkins",
        "operationId": "requestCheckins",
        "description": "Request checkins that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Checkins](#tag/Checkins/operation/retrieveCheckins) to retrieve the results of the query and upon success",
        "tags": [
          "Checkins"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/event_registration_options": {
      "get": {
        "summary": "Retrieve Event Registration Options",
        "operationId": "retrieveEventRegistrationOptions",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Event Registration Options"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEventRegistrationOptionsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Event Registration Options",
        "operationId": "requestEventRegistrationOptions",
        "description": "Request Event Registration Options that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Event Registration Options](#tag/Cart-Items/operation/retrieveEventRegistrationOptions) to retrieve the results of the query and upon success",
        "tags": [
          "Event Registration Options"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "Retrieve Payments",
        "operationId": "retrievePayments",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPaymentsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Payments",
        "operationId": "requestPayments",
        "description": "Request payments that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Payments](#tag/Payments/operation/retrievePayments) to retrieve the results of the query and upon success",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/members": {
      "get": {
        "summary": "Retrieve Members",
        "operationId": "retrieveMembers",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMembersSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Members",
        "operationId": "requestMembers",
        "description": "Request members that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Members](#tag/Members/operation/retrieveMembers) to retrieve the results of the query and upon success",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Retrieve Users",
        "operationId": "retrieveUsers",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUsersSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Users",
        "operationId": "requestUsers",
        "description": "Request users that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Users](#tag/Users/operation/retrieveMembers) to retrieve the results of the query and upon success",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "Retrieve Groups",
        "operationId": "retrieveGroups",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGroupsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Groups",
        "operationId": "requestGroups",
        "description": "Request groups that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Groups](#tag/Groups/operation/retrieveMembers) to retrieve the results of the query and upon success",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "summary": "Retrieve Tags",
        "operationId": "retrieveTags",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTagsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Tags",
        "operationId": "requestTags",
        "description": "Request tags that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Tags](#tag/Tags/operation/retrieveTags) to retrieve the results of the query and upon success",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/academic_experiences": {
      "get": {
        "summary": "Retrieve Academic Experiences",
        "operationId": "retrieveAcademicExperiences",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Academic Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAcademicExperiencesSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Academic Experiences",
        "operationId": "requestAcademicExperiences",
        "description": "Request Academic Experiences that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Academic Experiences](#tag/Academic-Experiences/operation/retrieveAcademicExperiences) to retrieve the results of the query and upon success",
        "tags": [
          "Academic Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/work_experiences": {
      "get": {
        "summary": "Retrieve Work Experiences",
        "operationId": "retrieveWorkExperiences",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Work Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetWorkExperiencesSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Work Experiences",
        "operationId": "requestWorkExperiences",
        "description": "Request Work Experiences that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Work Experiences](#tag/Work-Experiences/operation/retrieveWorkExperiences) to retrieve the results of the query and upon success",
        "tags": [
          "Work Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/budgets": {
      "get": {
        "summary": "Retrieve Budgets",
        "operationId": "retrieveBudgets",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBudgetsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Budgets",
        "operationId": "requestBudgets",
        "description": "Request budgets that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Budgets](#tag/Budgets/operation/retrieveBudgets) to retrieve the results of the query and upon success",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/budget_transactions": {
      "get": {
        "summary": "Retrieve Budget Transactions",
        "operationId": "retrieveBudgetTransactions",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Budget Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBudgetTransactionsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Budget Transactions",
        "operationId": "requestBudgetTransactions",
        "description": "Request budget transactions that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Budget Transactions](#tag/Budget-Transactions/operation/retrieveBudgetTransactions) to retrieve the results of the query and upon success",
        "tags": [
          "Budget Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/surveys": {
      "get": {
        "tags": [
          "Surveys"
        ],
        "summary": "Retrieve Surveys",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "operationId": "retrieveSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSurveysSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Surveys"
        ],
        "summary": "Request Surveys",
        "description": "Request surveys data based on the query ID",
        "operationId": "requestSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      }
    },
    "/survey_submissions": {
      "get": {
        "tags": [
          "Survey Submissions"
        ],
        "summary": "Retrieve Survey Submissions",
        "description": "Retrieve survey submissions data based on the specified start and end dates",
        "operationId": "retrieveSurveySubmissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSurveySubmissionsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Survey Submissions"
        ],
        "summary": "Request Survey Submissions",
        "description": "Request survey submissions data based on the query ID",
        "operationId": "requestSurveySubmissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      }
    },
    "/rooms": {
      "get": {
        "summary": "Retrieve Rooms",
        "operationId": "retrieveRooms",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRoomsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Rooms",
        "operationId": "requestRooms",
        "description": "Request rooms that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Rooms](#tag/Rooms/operation/retrieveRooms) to retrieve the results of the query and upon success",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/room_reservations": {
      "get": {
        "summary": "Retrieve Room Reservations",
        "operationId": "retrieveRoomReservations",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Room Reservations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRoomReservationsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Room Reservations",
        "operationId": "requestRoomReservations",
        "description": "Request room reservations that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Room Reservations](#tag/Room-Reservations/operation/retrieveRoomReservations) to retrieve the results of the query and upon success",
        "tags": [
          "Room Reservations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/badges": {
      "get": {
        "summary": "Retrieve Badges",
        "operationId": "retrieveBadges",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBadgesSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Badges",
        "operationId": "requestBadges",
        "description": "Request badges that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Badges](#tag/Badges/operation/retrieveBadges) to retrieve the results of the query and upon success",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/badge_completions": {
      "get": {
        "summary": "Retrieve Badge Completions",
        "operationId": "retrieveBadgeCompletions",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Badge Completions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBadgeCompletionsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Badge Completions",
        "operationId": "requestBadgeCompletions",
        "description": "Request badge completions that were updated between the specified start and end dates This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Badge Completions](#tag/Badge-Completions/operation/retrieveBadgeCompletions) to retrieve the results of the query and upon success",
        "tags": [
          "Badge Completions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/feed_posts": {
      "get": {
        "summary": "Retrieve feed posts",
        "operationId": "retrieveFeedPosts",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Feed Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetFeedPostsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request feed posts",
        "operationId": "requestFeedPosts",
        "description": "Request feed posts that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Feed Posts](#tag/Feed-Posts/operation/retrieveFeedPosts) to retrieve the results of the query and upon success",
        "tags": [
          "Feed Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "summary": "Retrieve Tracks",
        "operationId": "retrieveTracks",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTracksSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Tracks",
        "operationId": "requestTracks",
        "description": "Request tracks that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Tracks](#tag/Tracks/operation/retrieveTracks) to retrieve the results of the query and upon success",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/checklists": {
      "get": {
        "summary": "Retrieve Checklists",
        "operationId": "retrieveChecklists",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetChecklistsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Checklists",
        "operationId": "requestChecklists",
        "description": "Request checklists that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Checklists](#tag/Checklists/operation/retrieveChecklists) to retrieve the results of the query and upon success",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/checklist_items": {
      "get": {
        "summary": "Retrieve Checklist Items",
        "operationId": "retrieveChecklistItems",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Checklist Items"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetChecklistItemsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Checklist Items",
        "operationId": "requestChecklistItems",
        "description": "Request checklist items that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Checklist Items](#tag/Checklist-Items/operation/retrieveChecklistItems) to retrieve the results of the query and upon success",
        "tags": [
          "Checklist Items"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/stores": {
      "get": {
        "summary": "Retrieve Stores",
        "operationId": "retrieveStores",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Stores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStoresSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Stores",
        "operationId": "requestStores",
        "description": "Request stores that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Stores](#tag/Stores/operation/retrieveStores) to retrieve the results of the query and upon success",
        "tags": [
          "Stores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/store_products": {
      "get": {
        "summary": "Retrieve Store Products",
        "operationId": "retrieveStoreProducts",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Store Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStoreProductsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Store Products",
        "operationId": "requestStoreProducts",
        "description": "Request store products that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Store Products](#tag/Store-Products/operation/retrieveStoreProducts) to retrieve the results of the query and upon success",
        "tags": [
          "Store Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/announcements": {
      "get": {
        "summary": "Retrieve Announcements",
        "operationId": "retrieveAnnouncements",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnnouncementsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Announcements",
        "operationId": "requestAnnouncements",
        "description": "Request announcements that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Announcements](#tag/Announcements/operation/retrieveAnnouncements) to retrieve the results of the query and upon success",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    },
    "/announcement_recipients": {
      "get": {
        "summary": "Retrieve Announcement Recipients",
        "operationId": "retrieveAnnouncementRecipients",
        "description": "After a query has been submitted, this endpoint can be used to retrieve the results of the query given the query ID.",
        "tags": [
          "Announcement Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnnouncementRecipientsSchema"
          },
          "201": {
            "$ref": "#/components/responses/CreatedQuery"
          },
          "202": {
            "$ref": "#/components/responses/QueryAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "410": {
            "$ref": "#/components/responses/CancelledQuery"
          },
          "500": {
            "$ref": "#/components/responses/GetInternalServerError"
          }
        }
      },
      "post": {
        "summary": "Request Announcement Recipients",
        "operationId": "requestAnnouncementRecipients",
        "description": "Request announcement recipients that were updated between the specified start and end dates. This endpoint returns a queryId that can be used to retrieve the results of the query. Use [Retrieve Announcement Recipients](#tag/Announcement-Recipients/operation/retrieveAnnouncementRecipients) to retrieve the results of the query and upon success",
        "tags": [
          "Announcement Recipients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/SchoolCode"
          },
          {
            "$ref": "#/components/parameters/UpdatedStart"
          },
          {
            "$ref": "#/components/parameters/UpdatedEnd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostExtractSchema"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/PostInternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LookupRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the lookup value"
          },
          "name": {
            "type": "string",
            "description": "The name of the lookup value"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the lookup value was last updated"
          }
        }
      },
      "TagRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the tag"
          },
          "name": {
            "type": "string",
            "description": "The name of the tag"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the tag was last updated"
          }
        }
      },
      "CustomFieldsRelation": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "description": "The answer to the custom field question"
          },
          "question": {
            "type": "string",
            "description": "The custom field question"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the event.",
            "example": 1
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the event was last updated."
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the event was created."
          },
          "name": {
            "type": "string",
            "description": "The name of the event.",
            "example": "User Orientation Day"
          },
          "type": {
            "$ref": "#/components/schemas/LookupRelation",
            "description": "The type of the event."
          },
          "groupId": {
            "type": "integer",
            "description": "The unique identifier of the group hosting the event.",
            "example": 1
          },
          "cohostingGroupIds": {
            "type": "string",
            "description": "Comma separated list of ID's of the groups co-hosting the event.",
            "example": "1,2,3"
          },
          "cohostingGroupNames": {
            "type": "string",
            "description": "Comma separated list of names of the groups co-hosting the event.",
            "example": "Group A, Group B, Group C"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the event starts."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the event ends."
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone of the event."
          },
          "shortDescription": {
            "type": "string",
            "description": "The short description of the event."
          },
          "privacyLevel": {
            "type": "string",
            "description": "The privacy level of the event.",
            "enum": [
              "Everyone",
              "-School Name- users only",
              "Group members only",
              "Officers only",
              "Some group members only",
              "Invited people only",
              "Some -School Name- users only",
              "Tagged members only",
              "Some -School Name- tagged users only",
              "Sub-Groupy members only",
              "Members with Badges only"
            ]
          },
          "whoCanSeeAttendeeList": {
            "type": "string",
            "description": "The visibility of the attendee list.",
            "enum": [
              "Nobody",
              "Logged-on users only",
              "Everyone"
            ]
          },
          "whoCanSeeEventOnCalendar": {
            "type": "string",
            "description": "The visibility of the event on the calendar and public listing page.",
            "enum": [
              "Everyone",
              "Logged on users only",
              "Group members only",
              "Just the people who are allowed to register",
              "No one"
            ]
          },
          "locationType": {
            "type": "string",
            "description": "The type of location for the event.",
            "enum": [
              "Off-Campus",
              "On-Campus",
              "On-Campus Room Reservation",
              "Online Only"
            ]
          },
          "whoCanSeeLocation": {
            "type": "string",
            "description": "The visibility of the location.",
            "enum": [
              "Everyone",
              "Logged on users only",
              "Users who are registered"
            ]
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the event.",
            "enum": [
              "Approved",
              "Pending Approval",
              "Approval in Draft",
              "Requires Modifications",
              "Rejected"
            ]
          },
          "description": {
            "type": "string",
            "description": "The description of the event."
          },
          "locationName": {
            "type": "string",
            "description": "The name of the location."
          },
          "address": {
            "type": "string",
            "description": "The address of the location."
          },
          "telephone": {
            "type": "string",
            "description": "The telephone number of the location."
          },
          "zipcode": {
            "type": "string",
            "description": "The zipcode of the location."
          },
          "city": {
            "type": "string",
            "description": "The city of the location."
          },
          "state": {
            "type": "string",
            "description": "The state of the location."
          },
          "country": {
            "$ref": "#/components/schemas/LookupRelation",
            "description": "The country of the location."
          },
          "room": {
            "type": "string",
            "description": "The name of the reserved room."
          },
          "registrationEnabled": {
            "type": "boolean",
            "description": "Whether registration is enabled for the event in CampusGroups."
          },
          "externalRegistrationUrl": {
            "type": "string",
            "description": "The URL for external registration if registration is not enabled in CampusGroups."
          },
          "registrationOpenDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the registration opens."
          },
          "registrationCloseDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the registration closes."
          },
          "closed": {
            "type": "boolean",
            "description": "Whether event registration is closed."
          },
          "capacity": {
            "type": "integer",
            "description": "The maximum capacity of the event."
          },
          "registrationRedirectUrl": {
            "type": "string",
            "description": "The URL to redirect to after registration."
          },
          "reminderDelay": {
            "type": "integer",
            "description": "The number of hours before the event starts to send a reminder."
          },
          "sendReminder": {
            "type": "integer",
            "description": "Whether to send a reminder."
          },
          "reminderMessage": {
            "type": "string",
            "description": "The custom message to send in the reminder."
          },
          "rsvpMessage": {
            "type": "string",
            "description": "The custom email confirmation message to send after registration."
          },
          "feedbackRequest": {
            "type": "boolean",
            "description": "Whether to request feedback after the event."
          },
          "allowRsvpAtTheDoor": {
            "type": "boolean",
            "description": "Whether to allow RSVPs at the door."
          },
          "parentEventIds": {
            "type": "string",
            "description": "The IDs of the parent events."
          },
          "dressCode": {
            "$ref": "#/components/schemas/LookupRelation",
            "description": "The dress code for the event."
          },
          "waiverRequired": {
            "type": "boolean",
            "description": "Whether a waiver is required for the event."
          },
          "showWaiverAtRegistration": {
            "type": "boolean",
            "description": "Whether to show the waiver at registration."
          },
          "draft": {
            "type": "boolean",
            "description": "Whether the event is a draft."
          },
          "deleted": {
            "type": "boolean",
            "description": "Whether the event is deleted."
          },
          "template": {
            "type": "boolean",
            "description": "Whether the event is a template."
          },
          "tags": {
            "type": "array",
            "description": "The tags associated with the event.",
            "items": {
              "$ref": "#/components/schemas/TagRelation"
            }
          },
          "adminTags": {
            "type": "array",
            "description": "The admin tags associated with the event.",
            "items": {
              "$ref": "#/components/schemas/TagRelation"
            }
          },
          "customFields": {
            "type": "array",
            "description": "The questions and answers to custom fields shown on the event creation form.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldsRelation"
            }
          }
        }
      },
      "RSVP": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The unique identifier of the rsvp"
          },
          "eventId": {
            "type": "integer",
            "description": "Event ID for the RSVP"
          },
          "memberId": {
            "type": "integer",
            "description": "Member ID for the RSVP"
          },
          "rsvp": {
            "type": "string",
            "description": "RSVP status"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the RSVP was created"
          },
          "feedbackRating": {
            "type": "string",
            "description": "Feedback rating for the RSVP"
          },
          "feedbackComment": {
            "type": "string",
            "description": "Feedback comments for the RSVP"
          },
          "waiverChecked": {
            "type": "boolean",
            "description": "Waiver checked flag"
          },
          "waiverSignature": {
            "type": "string",
            "description": "Waiver signature for the RSVP"
          },
          "hideFromListAttendees": {
            "type": "boolean",
            "description": "Hide from list attendees flag"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the RSVP was last updated"
          },
          "customFields": {
            "type": "array",
            "description": "The questions and answers to custom fields shown on the event RSVP form.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldsRelation"
            }
          }
        }
      },
      "Checkins": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the checkin"
          },
          "userId": {
            "type": "string",
            "description": "Id of the user that checked in"
          },
          "paymentId": {
            "type": "integer",
            "description": "Id of the ticket that was checked in"
          },
          "eventId": {
            "type": "integer",
            "description": "Id of the event for the checkin"
          },
          "checkedinUserId": {
            "type": "integer",
            "description": "Id of the user that was checked in"
          },
          "action": {
            "type": "string",
            "description": "Action of the checkin"
          },
          "method": {
            "type": "string",
            "description": "Method of the checkin"
          },
          "appId": {
            "type": "integer",
            "description": "Id of the app for the checkin"
          },
          "deleted": {
            "type": "boolean",
            "description": "If the checkin is deleted"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the checkin was last updated"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the checkin was created"
          }
        }
      },
      "EventRegistrationOptions": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the cart item"
          },
          "name": {
            "type": "string",
            "description": "Name of the cart item"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the cart item was last updated"
          },
          "eventId": {
            "type": "integer",
            "description": "The ID of the event the registration option is for"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "The date the cart item was created"
          },
          "groupId": {
            "type": "integer",
            "description": "The ID of the group the user had in their session when creating the cart item"
          },
          "deleted": {
            "type": "boolean",
            "description": "Whether the cart item has been deleted"
          },
          "userId": {
            "type": "integer",
            "description": "The ID of the user that created the cart item"
          },
          "description": {
            "type": "string",
            "description": "The description of the item"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "The price of the item in the currency configured by the school"
          },
          "quantityAvailable": {
            "type": "integer",
            "description": "The number of items available for purchase"
          },
          "maxPerOrder": {
            "type": "integer",
            "description": "The maximum number of items a user can purchase at one time"
          },
          "minPerOrder": {
            "type": "integer",
            "description": "The minimum number of items a user can purchase at one time"
          },
          "endSalesDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the sales end"
          },
          "startSalesDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the sales start"
          },
          "refundDeadline": {
            "type": "string",
            "format": "date",
            "description": "The date the user must request a refund by"
          },
          "cancellationDeadline": {
            "type": "string",
            "format": "date",
            "description": "The date the user must cancel by"
          },
          "preventCancellation": {
            "type": "boolean",
            "description": "Whether the user can cancel the item"
          },
          "itemType": {
            "$ref": "#/components/schemas/LookupRelation",
[...]
